*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    position: relative;
}

header {
    position: relative;
    z-index: 101;
    background: white;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: .7em 1em;
    position: relative;
    z-index: 102;
}

.main-heading {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 92px;
    margin: .5em .2em .32em .2em;
    line-height: 85%;
}

.main-text {
    margin: 0 1em;
    padding: 0;
    letter-spacing: 0.5%;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.button {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: .6em .9em;
    margin: .7em 1em;
    color: white;
}

.icon-button {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.icon-button img {
    display: block;
    margin: 0 auto;
}

.basket-button {
    color: rgba(107, 114, 128, 1);
}
.basket-button:hover {
    color: rgba(37, 129, 235, 1);
    border: 1px solid rgba(37, 129, 235, 1);
}
.basket-button:active {
    color: rgba(7, 99, 205, 1);
    border: 1px solid rgba(7, 99, 205, 1);
}

.burger-button {
    border: 1px solid rgba(255, 221, 85, 1);
}
.burger-button:hover {
    background-color: rgba(255, 221, 85, 1);
}
.burger-button:active {
    background-color: rgba(234, 179, 8, 1);
    color: white;
}


.button-primary {
    background-color: rgba(234, 179, 8, 1);
}
.button-primary:hover {
    background-color: rgba(254, 199, 28, 1);
}
.button-primary:active {
    background-color: rgba(204, 149, 0, 1);
}

.button-secondary {
    background-color: rgba(37, 129, 235, 1);
}
.button-secondary:hover {
    background-color: rgba(67, 159, 255, 1);
}
.button-secondary:active {
    background-color: rgba(7, 99, 205, 1);
}

.main-image {
    width: 100%;
    position: absolute;
    top: 39%;
    left: 43%;
}

.services-list {
    list-style: url('/src/assets/arrow.svg');
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-left: .4em;
    margin-top: 8.5em;
}

.services-list li {
    padding-left: .5em;
}

.hidden {
    display: none;
}

.slide-down-menu {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 0 8px 8px ;
    z-index: 100;
}

.slide-down-menu.show {
    opacity: 1;
    transform: translateY(0);
}

.nav-list {
    list-style: none;
    padding: 0;
    margin-top: 2.6em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6em;
}

.nav-list > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.slide-down-menu button {
    margin-bottom: 2.3em;
}

.overlay {
    position: fixed;
    top: var(--header-height, 0);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

@media only screen and (min-width: 960px) {
    header {
        margin-top: 1.2em;
    }

    .main-heading {
        font-size: 152px;
        margin-top: .4em;
        margin-left: .1em;
        margin-bottom: .24em;
        line-height: 80%;
        width: 5em;
    }

    .main-text {
        width: 20em;
    }

    main > .button.button-secondary {
        margin-top: .5em;
    }

    main {
        position: relative;
    }

    .main-image {
        width: 39em;
        top: -12%;
        left: 62.5%;
    }

    .services-list {
        margin-top: 6em;
        margin-left: 1.5em;
        flex-direction: row;
        gap: 3.6em;
    }

    .button-container {
        gap: 1.5em;
    }

    .header > .button-container > button.button-primary {
        margin: 0 0 0 -1em;
    }

}

@media only screen and (min-width: 1280px) {
    .main-heading {
        margin-top: .65em;
    }

    .main-heading-second {
        font-family: 'Jura', sans-serif;
        font-weight: 700;
        font-size: 152px;
        margin: -.65em 0 0 4.7em;
    }

    .main-text {
        width: 20em;
        margin-top: -.3em;
        margin-left: 53.3em;
    }

    main > .button.button-secondary {
        margin-top: .45em;
        margin-left: 56.85em;
    }

    .main-image {
        width: 41.5em;
        top: -2.5em;
        left: 17.5em;
    }

    .services-list {
        margin-top: 12.15em;
        margin-left: 8.4em;
        gap: 4.86em;
    }

    .nav-list {
        font-size: 14px;
        flex-direction: row;
        gap: 1.5em;
        margin: 0 0 0 6.5em;
    }

    .slide-down-menu {
        display: none;
    }
}
