*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: .7em 1em;
}

.main-heading {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 92px;
    margin: .5em .2em .32em .2em;
    line-height: 85%;
}

.main-text {
    margin: 0 1em;
    padding: 0;
    letter-spacing: 0.5%;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.button {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: .6em .9em;
    margin: .7em 1em;
    color: white;
}

.icon-button {
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.icon-button img {
    display: block;
    margin: 0 auto;
}

.basket-button {
    color: rgba(107, 114, 128, 1);
}
.basket-button:hover {
    color: rgba(37, 129, 235, 1);
    border: 1px solid rgba(37, 129, 235, 1);
}
.basket-button:active {
    color: rgba(7, 99, 205, 1);
    border: 1px solid rgba(7, 99, 205, 1);
}

.burger-button {
    border: 1px solid rgba(255, 221, 85, 1);
}
.burger-button:hover {
    background-color: rgba(255, 221, 85, 1);
}
.burger-button:active {
    background-color: rgba(234, 179, 8, 1);
    color: white;
}


.button-primary {
    background-color: rgba(234, 179, 8, 1);
}
.button-primary:hover {
    background-color: rgba(254, 199, 28, 1);
}
.button-primary:active {
    background-color: rgba(204, 149, 0, 1);
}

.button-secondary {
    background-color: rgba(37, 129, 235, 1);
}
.button-secondary:hover {
    background-color: rgba(67, 159, 255, 1);
}
.button-secondary:active {
    background-color: rgba(7, 99, 205, 1);
}

.main-image {
    z-index: 100;
    width: 100%;
    margin-top: -4.5em;
    margin-left: 9.8em;
    margin-bottom: -9.9em;
}

.services-list {
    list-style: url('/src/assets/arrow.svg');
    display: flex;
    flex-direction: column;
    gap: 1.55em;
    margin-left: .5em;
}

.services-list li {
    padding-left: .5em;
}

